body {
  //background: #dddddd url("http://www.formget.com/app/new-app/css/../images/repeat-bg.png") fixed repeat;
   background-color: #46BEF0;
  font-family: "proxima_nova_rgregular", sans-serif;
  font-size: 16px;
  line-height: 28px; 
}

/*Forgot Password Styles*/
#forgot-password .outer-container{
	margin: 90px auto 0;
	width: 375px;
	text-align: center;
}
#forgot-password .outer-container .inner-container{
	position: relative;
	width: 375px;
	margin: 20px auto 0;
	padding: 25px;
	display: inline-block;
	vertical-align: top;
	background: #fff;
	border-bottom: 2px solid #ccc;
	border-radius: 5px;
	text-align: center;
}
#forgot-password .outer-container .resetform_container h1{
	margin: 0 0 20px 0;
	font-family: "proxima_novasemibold", sans-serif;
	font-size: 19px;
	font-weight: 600;
	//background: url('http://www.propertybhopal.com/formget/app_data/css/images/social-button/register-divider.png') center bottom no-repeat;
	color: #333;
	padding-bottom: 12px;
	line-height: normal;
}
#forgot-password .resetform_container .fg-input.f_email{
	padding: 13px 5px 11px 10px;
}
#forgot-password .resetform_container .fg-help{
	text-align: left;
}
#forgot-password .resetform_container .signin-btn{
	float: right;
	font-family: "proxima_novasemibold", sans-serif;
	margin-top: 30px;
	padding: 3px 15px;
	border-radius: 5px;
	background: #f2f2f2;
	color: #999;
	cursor: pointer;
	text-decoration: none;
}
#forgot-password .resetform_container #error_msg{ color: red; }

#error{ color: red; }