body {
    font-family: 'Raleway', sans-serif;
}
.main{
    width: 1015px;
    position: absolute;
    top: 10%;
    left: 20%;
}
#form_head{
    text-align: center;
    background-color: #FEFFED;
    border-bottom: 1px solid #9A9A9A;
    height: 35px;
    margin: 0 0 -29px 0;
    padding-top: 23px;
    padding-bottom: 13px;
    border-radius: 8px 8px 0 0;
    color: rgb(97, 94, 94);
}
#content {
    position: absolute;
    width: 900px;
    height: 187px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-left: -90px;
}
#form_input{
    margin-left: 50px;
    margin-top: 65px;  
}
label{
    margin-right: 6px;
    font-weight: bold;
}
#form_button{
    margin-left: 700px;
    margin-top: -75px;
}
.input_box{
    height:40px;
    width:480px;
    margin-left: 20px;
    padding:10px;
    border-radius:3px;
    background-color: #FEFFED;
    font-family: 'Raleway', sans-serif;
}
.result_head{
    text-align: center;
    background-color: #FEFFED;
    border-bottom: 1px solid #9A9A9A;
    height: 35px;
    margin: 0 0 -29px 0;
    padding-top: 8px;
    padding-bottom: 22px;
    border-radius: 8px 8px 0 0;
    color: rgb(97, 94, 94);
}
.data{
    margin-top: 50;
}
.encode_img{
    position: absolute;
    height: 400px;
    width: 445px;
    margin-left: 370px;
    margin-top: 220px;
    border: 2px solid gray;
    border-radius: 10px;
    overflow: scroll;
}
.real_image{
    margin-top: 220px;
    border: 2px solid gray;
    border-radius: 10px;    
    position: absolute;
    height: 400px;
    width: 445px;
    margin-left: -93px;
    border: 2px solid gray;
    border-radius: 10px;
    overflow: scroll;
}
.submit{
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 140px;
    border-radius: 5px;
    padding: 10px 0;
    outline: none;
    margin-top: 20px;
    margin-left: 15%;
}
.submit:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

body{
	
	background-color:#4CB5A5;
}
#home_container{

width:70%;
height:800px;
margin:0 auto;
background-color:white;
box-shadow:0 0 1em black;
	
}
#home_container img{
	padding:5%;
}
#logout
{
	padding:3%;
float:right;	
	
}
#login_detail
{
	padding:8%;
float:right;	
	
}
div.dropdown {
color: #555;
margin: 3px -22px 0 0;
width: 143px;
position: relative;
height: 17px;
text-align:left;
}
div.submenu
{
background: #fff;
position: absolute;
top: -12px;
left: -20px;
z-index: 100;
width: 135px;
display: none;
margin-left: 10px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.dropdown  li a {
   
    color: #555555;
    display: block;
    font-weight: bold;
    padding: 6px 15px;
  cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover{
    background:#155FB0;
    color: #FFFFFF;
    text-decoration: none;
    
}
a.account {
font-size: 13px;
line-height: 16px;
font-weight: bold;
color: black;
position: absolute;
z-index: 110;
display: block;
padding: 11px 0 0 20px;
height: 28px;
width: 121px;
margin: -11px 0 0 -10px;
text-decoration: none;
background: url(../images/arrow.png) 116px 17px no-repeat;
cursor:pointer;
}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede;
	
	
}
#welcome{
    
    font-size: 13px;
line-height: 16px;
font-weight: bold;
color: black;
margin-left: -75px;
position:absolute;
}

#edit_profile{
    margin:0 auto;
    width:70%;
    height: 500px;
    background-color: #EEEEEE;
}
#edit_profile h3{
    
    color: #9A9A9A;
    padding: 10px;
}

#edit_profile table td#text{
    
    text-align: right;
    padding-right: 20px;
}